# {{ ansible_managed }}

auth required pam_tally.so file=/var/log/faillog deny=3 even_deny_root unlock_time=108000
auth	[success=1 default=ignore]	pam_unix.so 
auth	requisite			pam_deny.so
auth	required			pam_permit.so
