
* Authorized users only. All activity may be monitored and reported. *

{{ hostvars[inventory_hostname]['ansible_' + iface]['ipv4']['address'] }}
{{ hostvars[inventory_hostname]['ansible_' + iface]['ipv6']['address'] }}

