# {{ ansible_managed }}

[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket
Requires=docker.socket

[Service]
Type=notify
{% if kernel >= "4" %}
ExecStart=/usr/bin/dockerd {{ daemon_opts }}
{% else %}
ExecStart=/usr/bin/dockerd {{ daemon_opts_old_kernel }}
{% endif %}
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Delegate=yes

[Install]
WantedBy=multi-user.target
